@import "./src/components/colors"

.beloved_client_wrapper
  background: $back-btn-color
  border-radius: 200px 0 0 0

  .beloved_client
    padding: 95px 0 125px 0
    max-width: 940px
    margin: 0 auto

    .beloved_client_header
      display: flex
      align-items: center
      text-align: $main-color
      margin-bottom: 120px
      padding: 0 20px
      flex-wrap: wrap

      .title
        margin-right: 100px
        max-width: 190px
        color: $white

      .subtitle
        color: $white
        max-width: 520px
        opacity: 0.6
        line-height: 26px
        font-size: 16px
        font-weight: 300

    .block_wrapper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      padding: 0 20px

      .block
        color: $white
        padding: 42px 0
        font-size: 20px
        line-height: 46px
        background: transparent
        width: 25%

      .brdr_right
        border-right: 1px solid white

      .brdr_bottom
        border-bottom: 1px solid white

      .more_client
        background: $main-color
        text-decoration: none
        color: $white
        &:hover
          opacity: 0.7


@media (max-width: 800px)
  .beloved_client_wrapper

    .beloved_client

      .beloved_client_header
        margin-bottom: 60px
        justify-content: center
        text-align: center
        flex-direction: column

        .title
          margin-right: 0

      .block_wrapper
        .block
          width: 50%
          &:nth-child(2), &:nth-child(6)
            border-right: none
          &:nth-child(5), &:nth-child(6)
            border-bottom: 1px solid white